<div class="water_card">

<h6 id="mdl">{{name}}</h6>
    <table>
        <tr>
            <!--<td align="left">Total</td>-->
            <td align="center">1000</td>
            <td align="center">Ton</td>
        </tr>

        <tr>
            <!--<td align="left">Daily</td>-->
<td align="center">10</td>
<!--<td align="center">100000</td>-->
            <td align="center">Ton</td>
        </tr>
        <tr>
            <!--<td align="left">Monthly</td>-->
            <td align="center">100</td>
            <td align="center">Ton</td>
        </tr>
    </table>

    </div>